.accordionSummaryContent {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.accordLeft,
.accordRight {
  display: flex;
  align-items: center;
}

.accordMiddle {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  margin-left: 15px;
}

.accordDetails {
  width: 100%;
}

.accordDetailsTop,
.accordDetailsInfo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.accordDetailsInfo {
  margin-top: 10px;
}

.sendersInfo {
  margin-left: 10px;
  flex: 1;
}

.sendersInfoDate,
.senderInfoDateOption {
  display: flex;
  align-items: center;
  gap: 10px;
}

.mailContent {
  margin-top: 20px;
  border: black;
}

.mailContentAccord {
  white-space: pre-wrap;
}

.MuiSvgIcon-root {
  color: black;
}
