.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  width: 200px;
  height: 100vh;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  background-color: whitesmoke;
  border-right: 2px solid grey;
  position: fixed;
  top: 60px;
  left: 0;
}

.sidebarOptionIcon {
  display: flex;
  align-items: center;
  padding: 10px;
  width: 100%;
  cursor: pointer;
}

.sidebarOptionIcon:hover {
  background-color: gold;
  border-radius: 20px;
}

.sidebarOptionIcon svg {
  margin-right: 10px;
}

.inboxHeader {
  height: 50px;
  width: 100%;
}

.modalContainer {
  width: 600px;
  max-width: 90%;
  max-height: 80%;
  display: flex;
  flex-direction: column;

  border-radius: 10px;
  box-shadow: 0px 4px 12px 12px aqua;
  position: fixed;
}

.modalContainerTop {
  padding: 20px;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
  padding-bottom: 10px;
}

.modalHeader p {
  font-size: 16px;
  font-weight: bold;
}

.modalHeaderIcons {
  display: flex;
  align-items: center;
}

.modalRecipients {
  margin-bottom: 10px;
}

.modalRecipients p {
  margin-bottom: 5px;
  color: grey;
}

.modalRecipients input {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 5px;
  outline: none;
}

.text_editor {
  height: 200px;
  margin-bottom: 10px;
}

.error {
  color: red;
  margin-top: 10px;
}

.modalContainerBottom {
  border-top: 1px solid black;
  padding: 10px;
  display: flex;
  justify-content: flex;
}

.modalBottom button {
  background-color: blue;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

.modalBottom button:hover {
  background-color: gold;
}

.modalBottom button:not(:last-child) {
  margin-right: 30px;
}
