

.mail {
    display: flex;
    flex-direction: column;
    
    
    height: 100vh;
    background-color: #f1f3f4;
    color: #202124;
    width: 100%;
  }
  
  .mail__containerTop {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background-color: #fff;
    border-bottom: 1px solid #e0e0e0;
  }
  
  .mailTop {
    display: flex;
    align-items: center;
  }
  
  .mailTop .MuiSvgIcon-root {
    margin-right: 10px;
    color: #000; 
  }
  
  .mailTopRight {
    display: flex;
    align-items: center;
  }
  
  .mailTopRight .MuiSvgIcon-root {
    margin-left: 10px;
    color: #000; /* Set icons to black */
  }
  
  .checkbox {
    margin-right: 10px;
  }
  
  .mail__containerMid {
    display: flex;
    background-color: #fff;
    border-bottom: 1px solid #e0e0e0;
    padding: 10px 0;
  }
  
  .mail__containerMidOptions {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  
  .mail__containerMidOption {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0px 15px;
  }
  
  .mail__containerMidOption:hover {
    background-color: goldenrod;
    border-radius: 15px;
    
  }
  
  .mail__containerMidOption .MuiSvgIcon-root {
    color: #000; /* Set icons to black */
    margin-right: 10px;
  }
  
  .mail__containerMidOption h3 {
    font-size: 14px;
    font-weight: 500;
    color: #3c4043;
    margin: 0;
  }
  
  .mail__containerMain {
    flex: 1;
    overflow-y: scroll;
    background-color: #fff; /* Ensure it has a background color */
  }
  
  .mail__containerMain::-webkit-scrollbar {
    display: none;
  }
  
  .mail__containerMainCards {
    padding: 20px;
    background-color: #fff;
  }
  